/.git
/.github
/.pnpm-store
/.pytest_cache
/.venv
/node_modules
**/node_modules
**/__pycache__
**/.DS_Store
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/coverage
**/dist
**/tmp
**/tsconfig.tsbuildinfo
